<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>

    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Rajdhani:500,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="stylesheets/style.css" />
    <link rel="stylesheet" href="stylesheets/form.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Sender</title>
    <script>

        function getCookie(name) {
            const cookieValue = document.cookie
                .split('; ')
                .find(row => row.startsWith(name))
                ?.split('=')[1];
            return cookieValue ? decodeURIComponent(cookieValue) : null;
        }

        $(document).ready(function () {
            const toastTrigger = document.getElementById('liveToastBtn')
            const toastLiveExample = document.getElementById('liveToast')
            if (toastTrigger) {
                toastTrigger.addEventListener('click', () => {
                    const toast = new bootstrap.Toast(toastLiveExample)

                    toast.show()
                })
            }

            let token = getCookie('token')
            if (token) {
                // window.location.href = '/home'
            }
            document.querySelector('.toggle-password').addEventListener('click', function () {
                const passwordField = document.getElementById('password');
                const eyeIcon = document.getElementById('eyeIcon');
                const eyeSlashIcon = document.getElementById('eyeSlashIcon');

                if (passwordField.type === 'password') {
                    passwordField.type = 'text';
                    eyeIcon.style.display = 'block';
                    eyeSlashIcon.style.display = 'none';
                } else {
                    passwordField.type = 'password';
                    eyeIcon.style.display = 'none';
                    eyeSlashIcon.style.display = 'block';
                }
            });
        })
        function submitForm(e) {
            e.preventDefault()
            $('#loadingSpinner').show();
            const formData = {
                email: $('input[name="email"]').val(),
                password: $('input[name="password"]').val()
            };
            $.ajax({
                type: "POST",
                url: "/auth/login",
                data: JSON.stringify(formData),
                contentType: "application/json",
                success: function (response) {
                    $('#loadingSpinner').hide();
                    if (response?.isSuccess) {
                        localStorage.setItem("token", response?.token);
                        localStorage.setItem("userName", response?.userName);

                        document.cookie = `token=${response?.token}; path=/`;
                        document.cookie = `role=${response?.role}; path=/`;
                        showToast('successToast', response.message);
                        setTimeout(() => {
                            window.location.href = '/home'

                        }, 1000);
                    } else {
                        showToast('errorToast', 'Error in Login' + response.message);
                    }
                },
                error: function (xhr, status, error) {
                    $('#loadingSpinner').hide();
                    showToast('errorToast', 'Error in Login');
                }
            });
            // document.getElementById("myForm").submit();
        }
        function showToast(toastId, message) {
            const toastElement = $('#' + toastId);
            toastElement.find('.toast-body').text(message);
            const toast = new bootstrap.Toast(toastElement[0]);
            toast.show();
        }
    </script>
</head>

<body>
    <div class="loading" id="loadingSpinner" style="display: none;">
        <span class="typing-animation">Loading...</span>
    </div>
    <div class="container-fluid d-flex justify-content-center align-middle login-form">
        <div class="contact-wrapper" id="login-form">
            <header class="login-cta pb-3">
                <h2>Account Login</h2>
            </header>
            <form>
                <div class="form-row">
                    <input type="text" name="email" required autocomplete="off">
                    <span>Username or Email</span>
                </div>
                <div class="form-row">
                    <input type="password" name="password" id="password" required autocomplete="off">
                    <span>Password</span>
                    <div class="toggle-password">
                        <div id="eyeIcon" style="display: none;">

                            <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg" style="display: block;">
                                <path
                                    d="M15.0007 12C15.0007 13.6569 13.6576 15 12.0007 15C10.3439 15 9.00073 13.6569 9.00073 12C9.00073 10.3431 10.3439 9 12.0007 9C13.6576 9 15.0007 10.3431 15.0007 12Z"
                                    stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                <path
                                    d="M12.0012 5C7.52354 5 3.73326 7.94288 2.45898 12C3.73324 16.0571 7.52354 19 12.0012 19C16.4788 19 20.2691 16.0571 21.5434 12C20.2691 7.94291 16.4788 5 12.0012 5Z"
                                    stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </div>
                        <div id="eyeSlashIcon">

                            <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M2.99902 3L20.999 21M9.8433 9.91364C9.32066 10.4536 8.99902 11.1892 8.99902 12C8.99902 13.6569 10.3422 15 11.999 15C12.8215 15 13.5667 14.669 14.1086 14.133M6.49902 6.64715C4.59972 7.90034 3.15305 9.78394 2.45703 12C3.73128 16.0571 7.52159 19 11.9992 19C13.9881 19 15.8414 18.4194 17.3988 17.4184M10.999 5.04939C11.328 5.01673 11.6617 5 11.9992 5C16.4769 5 20.2672 7.94291 21.5414 12C21.2607 12.894 20.8577 13.7338 20.3522 14.5"
                                    stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </div>

                    </div>
                </div>
                <div class="form-row"></div>
                <div class="form-row">
                    <button role="button" type="submit" onclick="submitForm(event)"
                        style="background-color: black;">Login to your Account!</button>
                </div>
            </form>
        </div>


        <!-- toast -->
        <div class="toast-container position-fixed bottom-0 end-0 p-3">
            <div id="successToast" class="toast success-toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header d-flex justify-content-end">
                    <strong class="me-auto">Success</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body" id="successToastBody">
                    <!-- Success message will be inserted here -->
                </div>
            </div>

            <div id="errorToast" class="toast error-toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header d-flex justify-content-end">
                    <strong class="me-auto">Error</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body" id="errorToastBody">
                    <!-- Error message will be inserted here -->
                </div>
            </div>
        </div>


    </div>
</body>

</html>