<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
    <link rel="stylesheet" href="stylesheets/form.css" />
    <link rel="stylesheet" href="stylesheets/table.css" />
    <link rel="stylesheet" href="stylesheets/style.css" />
    <script>
        let userId;
        let userData;
        let token;
        let role;

        function getCookie(name) {
            const cookieValue = document.cookie
                .split('; ')
                .find(row => row.startsWith(name))
                ?.split('=')[1];
            return cookieValue ? decodeURIComponent(cookieValue) : null;
        }
        $(document).ready(function () {
            token = getCookie('token')
            role = getCookie('role')
            if (!token) {
                window.location.href = "/";
            }

            getUser();

            $('#confirmDelete').on('click', function () {
                deleteUser(userId);
            });

            $('#confirmEditButton').on('click', function () {
                editUser(userId);
                $('input[name="email"]').val('');
                $('input[name="userName"]').val('');
                $('input[name="password"]').val('');
            });

            $('#confirmAddButton').on('click', function () {
                createUser();
                $('input[name="addEmail"]').val('');
                $('input[name="addUserName"]').val('');
                $('input[name="addPassword"]').val('');
            });

            const toastTrigger = document.getElementById('liveToastBtn')
            const toastLiveExample = document.getElementById('liveToast')
            if (toastTrigger) {
                toastTrigger.addEventListener('click', () => {
                    const toast = new bootstrap.Toast(toastLiveExample)
                    toast.show()
                })
            }
        })

        document.querySelector('.toggle-password').addEventListener('click', function () {
            const passwordField = document.getElementById('addPassword');
            const eyeIcon = document.getElementById('eyeIcon');
            const eyeSlashIcon = document.getElementById('eyeSlashIcon');

            if (passwordField.type === 'password') {
                passwordField.type = 'text';
                eyeIcon.style.display = 'none';
                eyeSlashIcon.style.display = 'block';
            } else {
                passwordField.type = 'password';
                eyeIcon.style.display = 'block';
                eyeSlashIcon.style.display = 'none';
            }
        });


        function deleteUserId(id) {
            userId = id;
        }

        function editUserData(id) {
            userId = id;
            let user = userData.find((user) => user._id == id)
            $('input[name="email"]').val(user?.email);
            $('input[name="userName"]').val(user?.userName);
        }

        function getUser() {
            if (role == 'admin') {
                $.ajax({
                    url: '/users/getUsers',
                    method: 'GET',
                    headers: {
                        'Authorization': `Bearer ${token}`
                    },
                    success: function (response) {
                        if (response.isSuccess) {
                            const users = response.users;
                            let userHtml = '';
                            userData = response.users;
                            if (users.length == 0) {
                                userHtml += `<tr>
                                                    <td colspan="6">No record found</td>
                                             </tr>`;
                            } else {
                                users.forEach(user => {
                                    userHtml += `<tr>
                                              <td>${user?.userName || '-'}</td>
                                              <td>${user.email}</td>
                                              <td>${user.role}</td>
                                              <td>
                                                  <div class=''>
                                                      <button onclick="editUserData('${user._id}')" data-bs-toggle="modal" data-bs-target="#editModal" class='btn edit-btn'>Edit</button>
                                                      <button onclick="deleteUserId('${user._id}')" data-bs-toggle="modal" data-bs-target="#deleteModal" class='btn delete-btn'>Delete</button>
                                                  </div>
                                              </td>
                                           </tr>`;
                                });
                            }
                            $('#user tbody').html(userHtml);
                            $('#loadingSpinner').hide()
                        }
                    },
                    error: function (error) {
                        if (error.status == 401) {
                            window.location.href = "/";
                            showToast('errorToast', 'UnAuthorize.Please Login to continue');
                        }
                        console.error('Error fetching users:', error);
                        $('#loadingSpinner').hide()
                        showToast('errorToast', 'Error fetching users: ' + error.responseJSON.message);
                    }
                });
            }
        }
        function editUser(userId) {
            const editedEmail = document.querySelector('input[name="email"]').value;
            const editedUserName = document.querySelector('input[name="userName"]').value;
            const editedUserNames = $('input[name="userName"]').val()

            if (editedEmail) {
                $.ajax({
                    url: `/users/updateUser/${userId}`,
                    method: 'PUT',
                    contentType: 'application/json',
                    headers: {
                        'Authorization': `Bearer ${token}`
                    },
                    data: JSON.stringify({ email: editedEmail, userName: editedUserName }),
                    success: function (response) {
                        if (response.isSuccess) {
                            $('#loadingSpinner').hide()
                            showToast('successToast', response.message);
                            getUser();
                            $('#editModal').modal('hide');
                        }
                    },
                    error: function (error) {
                        $('#loadingSpinner').hide()
                        $('#editModal').modal('hide');
                        showToast('errorToast', 'Error in Deleting user: ' + error.responseJSON.message);
                        console.error('Error updating user:', error);
                    }
                });
            }
        }

        function deleteUser(userId) {
            // Implement delete user functionality
            $.ajax({
                url: `/users/deleteUser/${userId}`,
                method: 'DELETE',
                headers: {
                    'Authorization': `Bearer ${token}`
                },
                success: function (response) {
                    if (response.isSuccess) {
                        $('#loadingSpinner').hide()
                        showToast('successToast', response.message);
                        getUser()
                        $('#deleteModal').modal('hide');
                    }
                },
                error: function (error) {
                    console.error('Error fetching users:', error);
                    $('#loadingSpinner').hide()
                    $('#deleteModal').modal('hide');
                    showToast('errorToast', 'Error in Deleting user: ' + error.responseJSON.message);
                }
            });
        }
        function createUser() {
            const email = $('#addEmail').val();
            const userName = $('#addUserName').val();
            const password = $('#addPassword').val();
            $('#loadingSpinner').show()

            $.ajax({
                url: `/users/createUser`,
                method: 'POST',
                contentType: 'application/json',
                headers: {
                    'Authorization': `Bearer ${token}`
                },
                data: JSON.stringify({ email, userName, password }),
                success: function (response) {
                    if (response.isSuccess) {
                        $('#loadingSpinner').hide()
                        getUser();
                        showToast('successToast', response.message);
                        $('#addModal').modal('hide');
                    }
                },
                error: function (error) {
                    $('#loadingSpinner').hide()
                    console.error('Error updating user:', error);
                    showToast('errorToast', 'Error in Creating user: ' + error.responseJSON.message);
                    $('#addModal').modal('hide');
                }

            });
        }

        function showToast(toastId, message) {
            const toastElement = $('#' + toastId);
            toastElement.find('.toast-body').text(message);
            const toast = new bootstrap.Toast(toastElement[0]);
            toast.show();
        }




    </script>
</head>

<body>
    <div class="loading" id="loadingSpinner" style="display: none;">
        <span class="typing-animation">Loading...</span>
    </div>
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="successToast" class="toast success-toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header d-flex justify-content-end">
                <strong class="me-auto">Success</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body" id="successToastBody">
                <!-- Success message will be inserted here -->
            </div>
        </div>

        <div id="errorToast" class="toast error-toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header d-flex justify-content-end">
                <strong class="me-auto">Error</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body" id="errorToastBody">
                <!-- Error message will be inserted here -->
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-end pb-3 mt-5">
        <button class="btn add-button" data-bs-toggle="modal" data-bs-target="#addModal">Add
            User</button>
    </div>
    <table class="table table-striped user-table" id="user">
        <thead class="">
            <tr>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Role</th>
                <th scope="col" colspan="2">Action</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <!-- add modal -->
    <div class="modal fade" id="addModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Add User</h1>
                    <button type="button" id="close-btn" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <form id="editForm">
                    <div class="modal-body">
                        <div class="" id="edit-form">
                            <form>
                                <div class="form-row">
                                    <input type="text" name="addUserName" id="addUserName" required>
                                    <span>UserName</span>
                                </div>
                                <div class="form-row">
                                    <input type="text" id='addEmail' name="addEmail" required>
                                    <span>Email</span>
                                </div>
                                <div class="form-row">
                                    <input type="password" name="addPassword" id="addPassword" required
                                        class="password-field">
                                    <span>Password</span>
                                    <span class="toggle-password">

                                        <svg id="eyeIcon" width="24px" height="24px" viewBox="0 0 24 24" fill="none"
                                            xmlns="http://www.w3.org/2000/svg" style="display: block;">
                                            <path
                                                d="M15.0007 12C15.0007 13.6569 13.6576 15 12.0007 15C10.3439 15 9.00073 13.6569 9.00073 12C9.00073 10.3431 10.3439 9 12.0007 9C13.6576 9 15.0007 10.3431 15.0007 12Z"
                                                stroke="#000000" stroke-width="2" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                            <path
                                                d="M12.0012 5C7.52354 5 3.73326 7.94288 2.45898 12C3.73324 16.0571 7.52354 19 12.0012 19C16.4788 19 20.2691 16.0571 21.5434 12C20.2691 7.94291 16.4788 5 12.0012 5Z"
                                                stroke="#000000" stroke-width="2" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                        </svg>


                                        <svg id="eyeSlashIcon" width="24px" height="24px" viewBox="0 0 24 24"
                                            fill="none" xmlns="http://www.w3.org/2000/svg" style="display: none;">
                                            <path
                                                d="M2.99902 3L20.999 21M9.8433 9.91364C9.32066 10.4536 8.99902 11.1892 8.99902 12C8.99902 13.6569 10.3422 15 11.999 15C12.8215 15 13.5667 14.669 14.1086 14.133M6.49902 6.64715C4.59972 7.90034 3.15305 9.78394 2.45703 12C3.73128 16.0571 7.52159 19 11.9992 19C13.9881 19 15.8414 18.4194 17.3988 17.4184M10.999 5.04939C11.328 5.01673 11.6617 5 11.9992 5C16.4769 5 20.2672 7.94291 21.5414 12C21.2607 12.894 20.8577 13.7338 20.3522 14.5"
                                                stroke="#000000" stroke-width="2" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                        </svg>
                                    </span>
                                </div>
                            </form>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-dark" id="confirmAddButton">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!-- Edit Modal -->
    <div class="modal fade" id="editModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class=" modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Edit User</h1>
                    <button type="button" id="close-btn" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="" id="edit-form">
                        <form>
                            <div class="form-row">
                                <input type="text" id='email' name="email" required>
                                <span>Email</span>
                            </div>
                            <div class="form-row">
                                <input type="text" name="userName" id="userName" required>
                                <span>UserName</span>
                            </div>
                        </form>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-dark" id="confirmEditButton">Save</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete Modal -->
    <div class="modal fade" id="deleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Delete User</h1>
                    <button type="button" id="close-btn" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this user ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
                    <button type="button" class="btn btn-success" id="confirmDelete">Yes</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>