body {
  padding: 10px;
}

.navbar-nav {
  gap: 10px;
}

.navbar {
  background-color: black;
}

.navbar .nav-item {
  color: white;
  cursor: pointer;
  border-radius: 10px;
  padding: 3px 10px;
}

.navbar .nav-link,
.navbar-brand {
  color: white;
}

.navbar-nav .nav-link.active {
  color: white;
  border-bottom: 2px solid white;
}

table thead {
  background-color: black;
  color: white;
}

tr {
  vertical-align: middle;
}

.add-button,
.add-button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

#myForm {
  background: white;
  padding: 25px;
  border-radius: 10px;
  margin-bottom: 80px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: black !important;
  color: white;
  font-size: medium;
  padding: 4px 10px !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: white !important;
}

.select2-container {
  width: 100% !important;
}

@media screen and (max-width: 575px) {
  .navbar-nav {
    display: flex;
    flex-direction: row;
  }
}