body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}




.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: black !important;
  color: white;
  font-size: medium;
  padding:4px 10px !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
  color: white !important;
}

.select2-container{
  width: 100% !important; 
}