.user-table {
  border-radius: 5px 5px 0 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table {
  border: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

thead {
  background: #f0f0f0;
  height: 60px !important;
}

thead th:first-child {
  padding-left: 45px;
}

thead th {
  text-transform: uppercase;
  line-height: 60px !important;
  text-align: left;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 500;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

tbody {
  background: #fff;
  max-height: 353px;
  overflow-y: auto;
}

tbody tr {
  border-top: 1px solid #e5e5e5;
  height: 60px;
}

tbody td:first-child {
  padding-left: 45px;
}

tbody td {
  height: 60px;
  line-height: 60px !important;
  text-align: left;
  padding: 0 10px;
  font-size: 14px;
}

@media screen and (max-width: 800px) {
  table {
    border: 1px solid transparent;
    box-shadow: none;
  }

  thead {
    display: none;
  }

  thead tr {
    border-bottom: 45px solid #f8f8f8;
  }

  thead td:first-child {
    padding-left: 10px;
  }

  thead td:before {
    content: attr(data-label);
    float: left;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
  }

  thead td {
    display: block;
    text-align: right;
    font-size: 14px;
    padding: 0px 10px !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  }
}

.edit-btn,
.edit-btn:hover {
  background-color: #737373;
  color: white;
  border: none;
}

.delete-btn,
.delete-btn:hover {
  background-color: #dc35459e;
  border: none;
  color: white;
}